.stats-main {
    display: flex;
    // justify-content: space-between;
    background-color: white;
    width: 100%;
    padding: 50px 0;
    margin-right: 3.4%;
    border-radius: 16px;

    h1 {
        font-size: 1.8rem;
        font-family: $large-font;
        font-weight: 700;
        margin-bottom: 30px;
    }

    h5 {
        font-weight: 900;
        font-size: 1.2rem;
    }

    button {
        width: 40%;
        font-size: 1.3rem;
        font-family: $large-font;
        align-self: center;
        background-color: $sign-in-font-color;
        color: white;
        border-radius: 20px;
        line-height: 1.6rem;
        margin: 3% auto;
    }

    .myDreams {
        @include dreams;
    }

    .support-dreams {
        @include dreams;
    }

    .bar {
        width: 75%;
        height: 75%;
        margin: 1% auto;
    }
}