.stats-main {
    background-color: white;
    width: 40%;
    // height: 400px;
    margin: 2%;
    // margin-right: 5%;
    border-radius: 20px;

    display: flex;
    justify-content: space-evenly;

    h1 {
        font-size: 1.6rem;
        font-family: $large-font;
        font-weight: 700;
        margin: 3% auto;
        
    }

    h5 {
        font-weight: 900;
        font-size: 1.2rem;
    }

    button {
        width: 40%;
        font-size: 1.3rem;
        font-family: $large-font;
        align-self: center;
        background-color: $sign-in-font-color;
        color: white;
        border-radius: 20px;
        line-height: 1.6rem;
        margin: 3% auto;
    }

    .myDreams {
        @include dreams;
    }

    .support-dreams {
        @include dreams;
    }

    .bar {
        width: 75%;
        height: 75%;
        margin: 1% auto;
    }
}