.dash-main {
    display: flex;
    flex-direction: column;
    background-color: $login-btn-color;
    padding: 0 3.4%;
    padding-bottom: 2%;

    .top-bar {
        text-align: center;
        margin-top: 20px;
    }

    .mid-sec {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
}