.dash-main {
    background: rgb(118,71,182);
    background: linear-gradient(0deg, rgba(118,71,182,1) 0%, rgba(25,73,128,1) 100%);

    text-align: center;
    display: flex;
    flex-direction: column;

    .top-bar {
        margin-top: 20px;
    }

    .mid-sec {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
}