.dash-main {
    background-color: $mineShaft;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;

    .top-bar {
        margin-top: 20px;
    }

    .mid-sec {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
}