/* dream container */
#root > div > div > div.dream-container {
    background-image: linear-gradient(#194980, #3e1980);
    width:100%;
    height: 100%;
    font-family: 'Roboto';
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* dream list */
#root > div > div > div.dream-container > div.dream-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* container for edit card */
#root > div > div > div.dream-container > div > div.edit-container {
    margin: 1rem;
    max-width: 20rem;
    height: 100%;
}

/* card styling */
#root > div > div > div.dream-container > div > div.edit-container > div.dream-card > div.card{
    padding: 0;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: #012345; 
}

/* button wrap */
#root > div > div > div.dream-container > div > div.edit-container > div > div > div > div.button-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* button */
#root > div > div > div.dream-container > div > div.edit-container > div > div > div > div.button-wrapper > button.donate-button{
    width: 40%;
    margin: 0.5rem;
}

/* modal */
#popup {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color:#194980;
    z-index: 1;
    justify-content: center;
    
}

/* modal form */
#popup > form {
    margin-top: 3rem;
    position: fixed;
    width: 70%;
    background-color:#194980;
    font-family: 'roboto';
    font-size: 1.8rem;
    display: flex;
    flex-flow: column;
}

/* text input */
#popup > form > input{
    height: 4rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: #f8f8f8;
    resize: none;
    font-family: 'roboto';
  }

/* button wrapper */
#popup > form > div {
    display: flex;
    justify-content: center;
    padding: 0.8rem 4rem 0 4rem;
}

/* button */
#popup > form > div > button {
    height: 2.5rem;				
    max-width: 80px;
    border: 1px solid grey;
    background-color: #ffd164;
    border-radius: 2rem;
    color: black;
    font-size: 1rem;
    margin-bottom: 0.6em;
}

/* responsive styling */
@media only screen and (max-width: 600px) {
    #root > div > div > div.dream-container {
        padding: 0;
    }
    #popup > form > div > button {			
        max-width: 50%;
    }
    #root > div > div > div.dream-container > div > div.edit-container > div > div > div > div.user-name {
        font-size: 2rem;
    } 
    #root > div > div > div.dream-container > div > div.edit-container > div > div > div > div.title-city-wrapper > div.dream-title{
        font-size: 1.5rem;
    } 
    #root > div > div > div.dream-container > div > div.edit-container > div > div > div > div.description{
        font-size: 1.5rem;
    }
    #root > div > div > div.dream-container > div > div.edit-container > div > div > div > div.goal-remaining{
        font-size: 1rem;
    }   
  }
  
