.dream-Home-Page {
    display: flex;
    justify-content: center;
    align-content: center;

    .form-wrap {
        margin: 2%;
        width: 90%;
        display: flex;

        .left {
            width: 50%;
            border-radius: 20px 0 0 20px;

            @include small-desktop {
                width: 62%;
            }

            @include twelveEighty {
                width: 67%;
            }
            .left-bottom{
            
            }
        }
    
        .right {
            width: 50%;
            padding-left: 5%;
            // background-color: #F1F5FB;
            background-color: white;
            border-radius: 0 20px 20px 0;

            @include small-desktop {
                width: 40%;
            }

            @include twelveEighty {
                width: 33%;
            }
        }
    }
}