 .dream-Home-Page {
    background-color: #012345;
    text-align: center;
    height: 2051px;	
    width: 100%;
    margin:0px;
}

.dreamer-card-app {
    text-align: center;
    background-color: rgba(255,255,255,0); 
    /* margin-top: 60px;
    margin-left: 120px; */
  
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 0px 164px
}

.input-style {   
    width: 550px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    padding-left: 15px;
    border: 1px solid black;
    margin-bottom: 100px;
    border-radius: 10px;
    margin-left: 185px;
}
 

.dreamlable {
    font-size: 30px;
    color:white;
    margin-bottom: 10px;
}

.textlable {
    font-size: 30px;
    color:white;
    margin-bottom: 10px;
}

.dreamlable input {
    margin-left: 100px;
}

.form-title {
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px grey;
    font-weight: bolder;
    margin-bottom: 50px;
}

.form-title h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 235px;
    margin-bottom: 100px;
    
}

.dreambutton{
    background-color:#FFD164;
    width: 155px;
    height: 60px;
    font-size: 30px;
    margin: 0 360px;
}

.dreambutton1{
    background-color:#FFD164;
    width: 120px;
    height: 45px;
    font-size: 30px;
    margin: 0 360px;
    padding-top: 0;
}

.input1 {
    width: 500px;

}
 
.images{
    margin-left: 600px;
    height:70px;
    
}

.image-text p{
    font-size: 20px;
    color:white;
    margin-bottom: 10px;
}

#image-button{
    height: 40px;
    width: 80px;
}
