.dreamer-card-app {
    border: 1px solid black;
    height: 500px;
    width: 600px;
    background-color: #FFD166;
    margin-top: 50px;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 80px 125px;
}

.input-style {
    width: 350px;
    height: 65px;
    font-size: 15px;
    padding-left: 15px;
}

.form-title {
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    font-weight: bolder;
}

#dream-box {
    height: 150px;
    text-align: center;
    font-size: 25px;
}

.submit-button {
    height: 50px;
    width: 100px;
    border-radius: 5%;
    font-size: 20px;
    margin: 0 260px;
    margin-bottom: 50px;
    background-color: #09A8E6;
    font-weight: bold;
    color: white;
}

.dream-Home-Img {
    height: 600px;
    width: 600px;
}

.dream-Home-Page {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.card-display {
    border: 1px solid black;
    width: 150px;
    height: 150px;
}