.user-main {
    display: flex;
    flex-direction: column;
    font-family: Open Sans, sans-serif;
    position: absolute;
    width: 100%;
    z-index: 2;

    .nav-tab-wrapper {
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 112px;
        margin: 0 auto;
        padding: 0 1%;
        background-color: white;
        border-radius: 0 0 20px 20px;
        transition: all 0.3s ease; //Animates UserBar 
        overflow: hidden;
        @include box-shadow;


        .user-left {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            margin-left: 1%;
            height: 100px;

            h3 {
                font-size: 1.4rem;
                font-weight: bold;
                margin: 0.6rem auto;
                padding: 0;
                color: $body-font-color;
            } // end of h3

            img {
                // width: 100%;
                height: 66%;
                margin: 0 auto;
                padding: 0;
                border-radius: 14px;
                @include box-shadow;
            } // end of img

        } // end of user-left

        .sub-nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 62%;
            height: 110px;
            align-items: center;

            .develop {
                // margin-top: 20px;

                p {
                    opacity: 0.5;
                }

                img {
                    opacity: 0.2;
                    filter: alpha(opacity=50);
                }

                h6 {
                    font-size: 1rem;
                }
            }

            .nav-icon {
                display: flex;
                flex-direction: column;
                // justify-content: center;

                img {
                    height: 80%;
                    margin: 0 auto;
                }

                p {
                    font-size: 1.4rem;
                    color: $body-font-color;
                    margin-left: 0;
                }
            } // end of user-tab
        } // end of flexing
    } // end of wrapper

    .arrow-tab {
        background: white;
        text-align: center;
        margin: 0 auto;
        width: 6rem;
        height: 1.5rem;
        border-radius: 0 0 20px 20px;
        @include box-shadow;

        img {
            width: 1.4rem;
        }

        &:hover {
            padding-top: 2px;
            transition: all 0.3s ease;
        }
    }

    .active {
        height: 0;

    }
} // end of user-main