.user-main {
    // background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;

    .wrapper {
        width: 100%;
        background-color: white;
        border-radius: 0 0 20px 20px;
        display: flex;
        padding-bottom: 8px;

        .user-left {
            display: flex;
            flex-direction: column;
            margin: 0 5% 2%;

            h3 {
                align-self: flex-start;
                font-size: 1.7rem;
                font-weight: bold;
                margin: 2% auto;
                color: $body-font-color;

                @include userBar-break {
                    font-size: 1.4rem;
                }
            } // end of h3

            img {
                width: 120px;
                height: 120px;
                margin: 2% auto;
                border-radius: 14px;
                @include box-shadow;
            } // end of img

        } // end of user-left

        .flexing {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 75%;
            align-items: center;

            .develop {
                margin-top: 20px;

                p {
                    opacity: 0.5;
                }

                img {
                    opacity: 0.2;
                    filter: alpha(opacity=50);
                }

                h6 {
                    font-size: 1rem;
                }
            }


            .user-tab {
                display: flex;
                flex-direction: column;
    
                img {
                    width: 80px;
                    height: 62px;
                    padding: 2%;
                    margin: 2% auto;

                    @include userBar-break {
                        height: 53px;
                        width: 60px;
                        // paddin
                    }

                }

                p {
                    font-size: 1.6rem;
                    color: $body-font-color;
                    margin: 3% auto;
                    // align-self: flex-end;

                    @include userBar-break {
                        font-size: 1.3rem;
                    }
                }

            } // end of user-tab
            
        } // end of flexing

    } // end of wrapper

} // end of user-main