@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

/* .searchContainer {
    display: inline-flex;
    flex: 1 1 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-right:10px;
    margin-bottom: 30px;
    margin-top:40px;
  }
  
  .searchIcon {
    padding: 0.5rem;
   
    
  }
  
  .searchBox {
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
    flex: 5;
    font-size: 15px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  outline: none;
  border-color:black
    
   
  }

 .fa {
    font-size: 1.5em !important;
    color:grey;
  
 } */

 .search-bar{
  position: relative;
  top: 30%;
  right:60px;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

input[type="text"]
{
    font-size:20px;
}

.searchBox{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 1px solid grey;
  display: none;
  font-size: 29px;
  border-radius: 20px;
  padding: 0 20px;
}

#searchicon{
 font-size:23px;
}


.fa{
  box-sizing: border-box;
  font-size: 30%;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover{
  width: 200px;
  cursor: pointer;
}

form:hover input{
  display: block;
}

form:hover .fa{
  background: #07051a;
  color: white;
}






