.newUse-main {
    background-color: $dream-font-color;
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;

    h3 {
        align-self: center;
        font-size: 3.2rem;
        font-family: $large-font;
        font-weight: 900;
        color: $desc-body-color;
        position: absolute;
        top: 25%;

        @include small-desktop {
            top: 25%;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: flex-start;
        width: 41.5%;
        align-self: center;

        @include small-desktop {
            width: 55%;
        }

        h4{
            color: $desc-body-color;
            font-family: $body-font;
            font-size: 1.2rem;
            margin-bottom: 1%;
            margin-top: 2%;
        }

        input {
            align-self: center;
            width: 398px;
            height: 50px;
            border-radius: 10px;
            font-size: 1.4rem;
            font-family: $body-font;
            margin-bottom: 2%;
        }

        button {
            align-self: flex-end;
            margin-top: 3%;
            font-family: $large-font;
            font-weight: 900;
            font-size: 1.4rem;
            background-color: $login-btn-color;
            color: white;
            border-radius: 23px;
            width: 95px;
            height: 48px;
        }
    }

}