@import '../../scss/general/mixin';
@import '../../scss/general/variables';

// All variables can be found in in proper above file

// @include is how SCSS handles mixins 
// variables called with `$variableName` 

.select-main {
    display: flex;

    .left {
        @include bottom-half;

        button {
            // button is in _mixin.scss file, takes background-color, align-self value, and property value for margin
            @include front-btn($dreamer-btn-color, flex-end, margin-right);
        
        }
    }

    .offset {
        position: absolute;
        left: 35%;
        width: 30%;
        z-index: 1;
        
        h1 {
            font-family: $large-font;
            font-weight: 900;
            font-size: 6rem;
            color: $large-font-color;

            @include small-desktop {
                font-size: 4rem;
            }
        }
    }

    .right {
        @include bottom-half;

        button {
            @include front-btn($support-btn-color, flex-start, margin-left);
            
        }
    }
}
