@import '../../scss/general/mixin';
@import '../../scss/general/variables';

.select-main {
    display: flex;

    .left {
        @include bottom-half;

        button {
            @include front-btn($dreamer-btn-color, flex-end);
        
        }
    }

    .offset {
        position: absolute;
        left: 35%;
        width: 30%;
        z-index: 1;
        
        h1 {
            font-family: $large-font;
            font-weight: 900;
            font-size: 6rem;
            color: $large-font-color;

            @include small-desktop {
                font-size: 4rem;
            }
        }
    }

    .right {
        @include bottom-half;

        button {
            @include front-btn($support-btn-color, flex-start);
            
        }
    }
}
