@import '../../scss/general/variables';

.main{
    display: flex;
    justify-content: space-between;

    .left{

        
    }

    .right{
        width: 40%;

        .list{
            list-style-type: none;
            display: flex;
            justify-content: space-between;

            .item{
                margin: 15px;

                a{
                    text-decoration: none;
                    color: $nav-font-color;
                    font-size: 2.4rem;
                }
            }

            .sign-in a{
                color: $sign-in-font-color;
            }
        }
    }
}