.caro-main{
    display: flex;

    .empty {
        width: 40%;
        height: 93vh;
    }

    .left{
        // width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        z-index: 1;

        .title {
            text-align: left;
            // height: 51%;

            h1{
                font-family: $large-font;
                font-weight: 900;
                font-size: 16.1rem;
                color: $dream-font-color;
                line-height: .70;
                padding: 20px;

                @include small-desktop {
                    font-size: 14.1rem;
                }

            } // end of h1

        } // end of title

        .para-wrap {
            text-align: left;
            padding-top: 0;
            padding: 20px;

            p{
                width: 35%;
                font-family: $body-font;
                color: $body-font-color;
                font-size: 2.6rem;
                padding: 10px;

                @include small-desktop {
                    font-size: 2rem; 
                }

            } // end of p

        } // end of para-wrap

    } // end of left

    .right{
        width: 60%;
        height: 93vh;

        img {
            width: 100%;
            height: 100%;

        } // end of img

    } //end of right

} // end of caro-main