.caro-main{
    display: flex;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    height: 770px;
    width: 80%;
    @include main-margin;

    @include small-desktop {
        @include small-desktop-margin;
        height: 800px;
    }

    @include tablet-landscape {
        margin-bottom: 2%;
        height: 750px;
    }

    @include tablet-portrait {
        width: 100%;
        margin: 0;
    }

    @include mobile {
     height: 700px;
    }

    // @include small-mobile {
    //     height: 100vh;
    // }

    .empty {
        width: 40%;

        @include small-desktop {
            width: 10%;
        }

        @include tablet-landscape {
            width: 10%;
        }

        @include tablet-portrait {
            display: none;
        }
       
    }

    .left{
        height: 66vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        z-index: 1;
        // margin: 1em 0 0 18em;

        @include small-desktop {
            margin: 0;
        }

        @include btn-break {
            align-items: center;
        }

        @include tablet-portrait {
            position: static;

        }

        @include mobile {
            width: 100%;
        }
        

        .title {
            text-align: left;
            margin-top: 3em;
            // height: 51%;

            @include tablet-portrait {
                width: 100%;
                align-self: center;
            }

            @include btn-break {
                text-align: center;
                margin-top: 10%;
            }

            // @include small-mobile {
            //     text-align: center;
            // }

            h1{
                font-family: $large-font;
                font-weight: 900;
                font-size: 7rem;
                color: $new-dream-color;
                line-height: .5;
               
                padding: 20px;

                @include small-desktop {
                    font-size: 7rem;
                }

                @include tablet-landscape {
                    font-size: 5rem;
                }

                @include mobile {
                    font-size: 5rem;
                }

            } // end of h1

        } // end of title

        .para-wrap {
            text-align: left;
            padding-top: 0;
            padding: 20px;
            height: 200px;

            @include btn-break {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: left;
                margin-top: 10%;
            }

            @include tablet-portrait {
                width: 100%;

            }

            @include mobile {
                padding: 0;
                width: 100%;
                height: auto;
            }

            p{
                width: 25%;
                font-family: $body-font;
                color: $body-font-color;
                font-size: 1.3rem;
                
                line-height: 1.85rem;
                text-align: left;

                @include small-desktop {
                    font-size: 1.2rem; 
                    margin-top: 1%;
                    width: 30%;
                    // line-height: 2.5rem;
                }

                @include btn-break {
                    margin-top: 0;
                    width: 50%;
                }

                @include tablet-landscape {
                    font-size: 1.2rem;
                    width: 65%;
                    text-align: center;
                }

                @include tablet-portrait {
                    width: 100%;
                    padding: 3%;
                    
                }

                @include mobile {
                    width: 100%;
                    // line-height: inherit;
                    margin: 0;
                    font-size: 1.2rem;
                }

            } // end of p

            .btn-div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                margin: 5em 0 0 0;
                width: 35%;

                @include small-desktop {
                    // margin: 0;
                }

                @include btn-break {
                    margin-top: 5%;
                    width: 100%;
                }

                @include tablet-portrait {
                    width: 100%;
                    padding: 2%;
                }

                @include small-mobile {
                    flex-direction: column;
                    align-items: center;
                }

                button {
                    height: 100%;
                    @include small-desktop {
                        height: inherit;
                    }

                }

               

                .dreamer {
                    @include front-btn($dreamer-btn-color, margin-right);
                }

                .supporter {
                    @include front-btn($support-btn-color, margin-left);
                }
            }

        } // end of para-wrap

    } // end of left

    .right{
        width: 50%;
        height: 75%;
        // margin: 3em 0 0 43em;

        @include small-desktop {
            width: 60%;
            height: 70%;
        }

        @include tablet-landscape {
           margin: 0;
           position: relative;
           right: 10%;
        }

        @include btn-break {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;

            @include small-desktop {
                width: 100%;
                height: 100%;
            }
            @include tablet-landscape {
                width: 90%;
                height: 90%;
            }

        } // end of img

    } //end of right

} // end of caro-main