

.first{
    display: flex;
    flex-direction: row ;
    
   
}

h1 {
    font-family:large-font;
    font-weight: 900;
    font-size: 6rem;
    color: large-font-color;
    text-align:center;
    
}

.header0ne{
    height: 214px;
    width: 547px;
    color: #363636;
    font-family: Roboto;
    font-size: 116px;
    font-weight: 900;
    line-height: 100px;
    margin-top: 30px;
    
}

p {
    height: 174px;
    width: 396px;
    color: #363636;
    font-family: "Open Sans";
    font-weight: bold;	
    font-size: 20px;
    line-height: 33px;
    margin-left: 70px;

}

span{
    margin-right: 265px;
}

.leftside {
        width: 30%;
        display: inline-block;
        height: 100%;
        margin-top:50px;
        margin-left:50px;
    }

.rightside {
        width: 50%;
        display: inline-block;
        height: 100%;
        margin-top:40px;
        margin-left: 30%
    }

  

 .about2{
    height: 500px;
    width: 1024px;
    border-radius: 12px;
    margin: auto;
    background-color: #FFD164;
    border-radius: 12px;
    padding-top: 70px;
 
    
 }

.about3{
    background: linear-gradient(0deg, #194980 0%, #194980 100%);
    height:1000px;
    width:100%;
    margin-top: 60px;
    padding-top:60px;
}



.about1{
    height: 361px;	
    width: 928px;	
    border-radius: 12px;	
    background-color: #FFFFFF;	
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    margin-left: 50px;
}

.mission{
    height: 53px;
    width: 90%;
    font-size: 24px;
    padding:20px;
    margin-left: 80px;
}

.header{
    font-size: 2rem;
    padding-top: 80px;
   
}

.team{
    background: linear-gradient(0deg, #7647B6 0%, #194980 100%);
    height:4020px;
    width:100%;
    
}

.img2{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 70px;    
    
}

.team1{
    height: 3643px;	
    width: 90%;
    background-color: #FFD164;
    padding-top:60px;
    margin-left: 70px;
}

.team2{
    height: 3455px;
    width: 90%;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    margin-left: 60px;
}

.teamparagraph{
    height: 53px;
    width: 90%;
    font-size: 20px;
    padding-top: 70px;
    
}

.teamheader{
    height: 53px;
    width: 573px;
    color: #363636;
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: bold;
    line-height: 55px;
    padding-top: 70px;
    margin-left: 250px;
}

.teamimg{
    border: 1px solid #979797;
    margin-left: 20px;
    margin-top: 130px;
    
}

.team-img1{
    height: 200px;
    width: 220px;
}

.imagetext{
    display:flex;
    align-items:center;
    flex-direction: row;
  
}

.table{
    margin-left:5px;
    margin-top:190px;
    
}



.icons{
display:flex;
margin-top: 5px;

}

.fab{
    color: black;
    margin-left: 10px;
}



li{
    font-size:1.3rem;
    display:block;
    margin-top:5px;
  
}

.maindiv2{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
   
  
}

.team-img2{
   margin-left: 600px;
  
}

.divider{
    width: 100%;
    height:300px;
}

section{
    width:100%;
    min-height: 1000px;
}

.fab{
    width:100%;
    height:60px
}

header {
    position: relative;
    height: 300px;
    overflow: hidden;
    
  }

 .background{
     height: 2200px;
     width:100%;
     background-repeat: no-repeat;
  background-size: cover;

 }


  
 .wave{
  background:url("https://image.freepik.com/free-vector/abstract-background_52683-3700.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  position:relative;
  width:100%;
  height:10%;
  
 }

 .galaxy{
     background: url('https://static.vecteezy.com/system/resources/previews/000/187/302/large_2x/vector-ultraviolet-galactic-background.jpg');
     background-size:cover;
     background-repeat:no-repeat;
     position:relative;
     width:100%;
     height:15%;
    }

  

 


 