 .App {
//   display: flex;
//   flex-direction: column;
//   // align-items: center;
//   max-width: 1000px;
//   margin: 0 auto;
    background-color: rgba(25,73,128,1);
  
    .app-wrap {
        width: 1400px;
        margin: 0 auto;
        background-color: white;
        
    }

}