.home-main {

    .rocket-contain {
        display: flex;
        flex-direction: column;
        // @include main-margin;


        a {
            align-self: flex-end;
            position: sticky;
            top: 2%;
            right: 7.7%;
            
            .rocket {
                // align-self: flex-end;
                // position: sticky;
                // top: 2%;
                // right: 7.7%;
            }
        }
    }
}