.app-wrap .support-main {
    @include main-margin;
    margin-top: 100px;
    display: flex;
    flex-direction: column;

    @include small-desktop {
        @include small-desktop-margin;
        margin-top: 75px;
    }

    @include btn-break {
        width: 100%;
    }

    .top {
        display: flex;
        flex-direction: column;

        @include tablet-landscape {
            width: 100%;
            padding: 5%;
        }

        div {
            width: 900px;
            align-self: center;

            @include tablet-landscape {
                width: 100%;
            }

            h1 {
                align-self: flex-start;
                padding: 2%;
                width: 65%;
                font-family: $large-font;
                font-size: 6rem;
                font-weight: 900;
                color: $new-dream-color;
                margin: 0;
                @include mobile {
                    width: 100%;
                    font-size: 3rem;
                }
            }
        }

        p {
            align-self: center;
            // text-align: center;
            width: 900px;
            padding: 2%;
            font-family: $body-font;
            color: $new-dream-color;
            font-size: 1.6rem;
            line-height: 2.5rem;

            @include tablet-landscape {
                width: 100%;
            }

            @include mobile {
                font-size: 1.6rem;
            }
        }
    } // end of top

    .yellow-div {
        align-self: center;
        width: 100%;
        background-color: $support-btn-color;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 4%;
        margin: 3%;
        margin-bottom: 80px;

        @include small-desktop {
            margin: 2%;
            margin-bottom: 5%;
            width: 85%;
        }

        @include btn-break {
            width: 80%;
        }

        .white-div {
            border-radius: 10px;
            width: 97%;
            background-color: white;
            display: flex;
            padding: 30px;
            @include box-shadow;

            @include sevenPxBreak {
                flex-direction: column;
                align-items: center;
                width: 80%;
                // padding: 5%;
            }

            .img {
                width: 35.5%;
                margin-right: 4%;
                display: flex;
                justify-content: center;
                align-items: center;

                @include sevenPxBreak {
                    width: 100%;
                    // height: auto;
                }

                img {
                    width: 100%;

                    @include mobile {
                        width: 100%;
                        height: 100%;
                    }
                }

            }

            .info {
                width: 59.5%;

                @include sevenPxBreak {
                    width: 100%;
                }

                h1 {
                    font-family: $body-font;
                    font-size: 2.4rem;
                    font-weight: 700;
                    align-self: flex-end;
                    color: $new-dream-color;
                    padding: 2%;

                    @include mobile {
                        font-size: 1.8rem;
                        margin-top:30px;

                    }
                }

                p {
                    font-family: $body-font;
                    font-size: 1.7rem;
                    line-height: 2.2rem;
                    color: $new-dream-color; 
                    padding: 2%;

                    @include mobile {
                        font-size: 1.3rem;
                        line-height: auto;
                        
                    }
                }
            }
        }
    }

}