
.dream-market {
	.cards-container {
		display: flex;
		flex-wrap: wrap;

		.card-wrapper {
			width: 33.33%;
		}

		.card {
			border: 1px solid grey;
			flex: 0 0 30%;
			margin: 0 5% 6%;

			.card-img {
				width: 100%;
			}

			.card-body {
				padding: 8%;
				color: black;

				.user-name {
					font-size: 2.2vw;
					margin-bottom: 0.4em;
				}

				.title-city-wrapper {
					display: flex;
					justify-content: space-between;
					margin-bottom: 0.2em;
					font-size: 1.8vw;
					.dream-title {
						margin-bottom: 26px
					}

					.dream-city {
					}
				}

				.description {
					font-size: 1.5vw;
					margin-bottom: 5.6em;
				}

				.goal-remaining{
					font-size: 1.2vw;
					text-align: center;
					margin-bottom: 2.2em;
				}

				.button-wrapper {
					display: flex;
					justify-content: center;
					.donate-button {
						height: 2.2em;				
						width: 46%;
						border: none;
						background-color: #0B2343;
						color: white;
						font-size: 1.4vw;
						font-weight: bold;
						margin-bottom: 1.3em;
					}
				}
			}
		}
	}
}