.us-main {
    display: flex;
    flex-direction: column;
    background-color:white;
    

    h1 {
        font-family: $large-font;
        font-weight: 900;
        font-size: 2.3rem;
        color: $large-font-color;
        text-align: left;

        @include small-desktop {
            font-size: 4rem;
        }

    } // end of h1

    p {
        font-family: $body-font;
        color: $desc-body-color;
        font-size: 1.6rem;
        line-height: 2.2rem;
        text-align: left;
        width: 80%;
        font-weight: 590;
        


    } // end of p

    .left {
        width: 100%;
        display: flex;
        margin: .75rem 0 0 30.5rem;

        .inner-left {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        } // end of inner-left

        img {
            margin: 1rem 4rem 0 0;
        }

        h1 {
            margin: 1rem 0 2rem 0;
        }

    } // end of left

    .right {
        width: 100%;
        display: flex;
        margin: 4rem 0 0 30.5rem;

        .inner-right {
            margin: 0 0 0 2rem;
            width: 35%;

        } // end of inner-right

        .imgDiv{
            width: 15%;

            img {
                width: 100%;
                margin-right: 1rem;
            }
        }

        h1{
            margin: 0 0 2rem 0;
        }

        

        p {
            width: 67%;
        }

    } // end of right

} // end of us-main