.us-main {
    @include main-margin;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include small-desktop {
        @include small-desktop-margin;
    }

    @include mid-break {
        width: 100%;
    }

    .left {
        margin-bottom: 5%;

        .inner-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            text-align: center;

            @include mid-break {
                align-items: center;
                width: 100%;
            }

            h1 {
                align-self: flex-start;
                font-size: 2.4rem;
                font-family: $large-font;
                color: $large-font-color;
                margin-left: 2%;

                @include mid-break {
                    align-self: center;
                }
            }

            p {
                align-self: center;
                text-align: left;
                padding: 1% 1% 0;
                font-size: 1.6rem;
                width: 100%;
                font-family: $body-font;
                color: $new-dream-color;
                
                @include mid-break {
                    width: 60%;
                }
            }
        }
    }

    .right {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 5%;

        .imgDiv {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;

            @include mid-break {
                display: none;
            }

            img {
                padding: 2%;
                width: 400px;
                height: 400px;
            }
        }

        .inner-right {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include mid-break {
                width: 100%;
                align-self: center;
            }

        }

        h1 {
            font-size: 2.4rem;
            font-family: $large-font;
            color: $large-font-color

        }

        p {
            text-align: center;
            padding: 1%;
            font-size: 1.6rem;
            width: 100%;
            font-family: $body-font;
            color: $new-dream-color;

            @include mid-break {
                width: 60%;
            }
        }
    }

}