.dream-main {

    @include main-margin;
    display: flex;
    flex-direction: column;

    @include small-desktop {
        @include small-desktop-margin;
    }

    .rocket {
        align-self: flex-end;
    }

    .top {
        display: flex;
        flex-direction: column;

        div {
            width: 900px;
            align-self: center;

            h1 {
                align-self: flex-start;
                padding: 2%;
                width: 40%;
                font-family: $large-font;
                font-size: 6rem;
                font-weight: 900;
                color: $new-dream-color;
            }
        }

        p {
            align-self: center;
            // text-align: center;
            width: 900px;
            padding: 2%;
            font-family: $body-font;
            color: $new-dream-color;
            font-size: 1.6rem;
            line-height: 3.3rem;
        }
    } // end of top

    .bottom {
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        .cx {
            z-index: 2;
            width: 500px;
            height: 60%;

        }
    }
}