.dream-main {

    @include main-margin;
    margin-top: 100px;
    display: flex;
    flex-direction: column;

    @include small-desktop {
        @include small-desktop-margin;
    }

    @include btn-break {
        width: 100%;
    }

    .top {
        display: flex;
        flex-direction: column;

        @include tablet-landscape {
            width: 100%;
            padding: 5%;
        }

        div {
            width: 900px;
            align-self: center;

            @include tablet-landscape {
                width: 100%;
            }

            h1 {
                align-self: flex-start;
                padding: 2%;
                width: 40%;
                font-family: $large-font;
                font-size: 6rem;
                font-weight: 900;
                color: $new-dream-color;

                @include mobile {
                    width: 100%;
                    font-size: 3rem;
                }
            }
        }

        p {
            align-self: center;
            // text-align: center;
            width: 900px;
            padding: 2%;
            font-family: $body-font;
            color: $new-dream-color;
            font-size: 1.6rem;
            line-height: 2.5rem;

            @include tablet-landscape {
                width: 100%;
            }

            @include mobile {
                font-size: 1.6rem;
            }
        }
    } // end of top

    .bottom {
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        .cx {
            z-index: 2;
            width: 500px;
            height: 60%;

            @include mobile {
                padding: 3%;
            }

        }
    }
}