@import '../../scss/general/_variables.scss';

.recent-donations {
	font-family: $roboto;
	.header {
		padding: 8px;
		font-size: 24px;
		text-align: center;
		// background-color: #0A2243;
		color: white;
		border-top: 1px solid #FFD164;
		border-bottom: 1px solid #FFD164;
	}

	.donations-container {
		padding: 30px 40px 30px;
		.donation {
			display: flex;
			align-items: center;
			margin-bottom: 12px;
			.user-img {
				box-shadow: -2px 2px 0 0 #FFD164;
				background-color: #0A2243;
				width: 70px;
				height: 70px;
				border-radius: 50%;
				margin-right: 20px;
			}

			.donations-name-wrapper {
				.amount {
					font-size: 28px;
					font-weight: bold;
					color: white;
					margin-bottom: 8px;
					margin-top: 6px;
				}
				.name {
					font-size: 14px;
					font-weight: bold;
					margin: 0;
					padding: 0;
					text-align: left;
					color: white;	
				}
			}

			&:last-child {
				margin: 0;
			}
		}
	}
}